*{
    font-family:inherit;
    font-size:inherit;
    line-height: inherit;
}
body{
    font-family: "ヒラギノ角ゴ Pro";
    font-size: 24px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-5{
    margin-bottom: 5px;
}

.container{
    height: 420px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color:#d50000;
    background-image: 
    repeating-linear-gradient(
      45deg,
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.8) 100px,
      transparent 0px,
      transparent 200px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5) 100px,
      transparent 0px,
      transparent 200px
    );
    border: 1px solid;
    border-radius: 15px;
}
.title{
    color: #fff;
    position: relative;
    white-space: nowrap;
    font-size: 32px;
}
.title2{
    color: #fff;
    position: relative;
    top: -32px;
    left: 110px;
    white-space: nowrap;
    font-size: 12px;
}


.marker{
    width: 100%;
    height: 35%;
    background-color: #0da3d170;
    position: absolute;
    border-radius: 30px;
    bottom: 5%;
    z-index: -1;
}

.startButton{
    background-color: #333;
    color: #fff;
    padding: 4px 60px;
    border: none;
    outline: none;
    border-radius: 8px;
}

.startButton1{
    background-color: rgb(62, 204, 247);
    color: rgb(38, 118, 143);
    padding: 4px 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    text-shadow: -1px -1px 1px rgb(248, 239, 230);
    border-bottom: 5px solid rgb(38, 118, 143);
}

.startButton2{
    background-color: rgb(12, 130, 241);
    color: rgb(14, 81, 145);
    padding: 4px 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    text-shadow: -1px -1px 1px rgb(210, 213, 255);
    border-bottom: 5px solid rgb(14, 81, 145);
}

.startButton3{
    background-color: rgb(53, 50, 216);
    color: rgb(33, 31, 129);
    padding: 4px 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    text-shadow: -1px -1px 1px rgb(232, 255, 230);
    border-bottom: 5px solid rgb(33, 31, 129);
}

.startButton4{
    background-color: rgb(247, 9, 21);
    color: rgb(99, 37, 40);
    padding: 4px 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    text-shadow: -1px -1px 1px rgb(255, 242, 243);
    border-bottom: 5px solid rgb(99, 37, 40);
}

.setumeiButton{
    font-size: 16px;
    background-color:#fff;
    color: black;
    padding: 4px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategray;
    outline: none;
    border-radius: 10px;
}

.setumeiButton2{
    font-size: 16px;
    background-color:black;
    color: #fff;
    padding: 4px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategray;
    outline: none;
    border-radius: 10px;
}

.playBTN{
    text-align: center;
    font-size: 16px;
    background-color:#fff;
    color: black;
    padding: 4px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategray;
    outline: none;
    border-radius: 15px;
}

.startButton:hover{
    opacity: 0.9;
    border-radius: 20px;
}

.startButton1:hover{
    opacity: 0.9;
    border-radius: 20px;
}

.startButton2:hover{
    opacity: 0.9;
    border-radius: 20px;
}

.startButton3:hover{
    opacity: 0.9;
    border-radius: 20px;
}

.startButton4:hover{
    opacity: 0.9;
    border-radius: 20px;
}

.setumeiButton:hover{
    opacity: 0.9;
    border-radius: 20px;
}

.setumeiButton2:hover{
    opacity: 0.9;
    border-radius: 20px;
}

.playBTNhover{
    opacity: 0.9;
    border-radius: 20px;
}

.question{
    color: #fff;
}

.question1{
    font-size: 30px;
    color: rgb(253, 253, 253);
}

.question2{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.question3{
    font-size: 20px;
    color: yellow;
}

.nextquestion{
    font-size: 20px;
    float: right;
    width: 50%;
    color:antiquewhite;
}
.clear{
    color: #03a9f4;
}

.typeForm{
    width: 20px;
    text-align:  center;
    outline: none;
    border: none;
}

.typeFormWrapper{
    border-bottom: 1px solid gray;
}

.gauge{
    width: 30;
    height: 12px;
    transition: all .3s ease;
    border-radius: 30px;
    border: 1px solid;
}

.gaugeWrapper{
    border: 1px solid;
    height: 12px;
}

.btn {
    position: relative;
    height: 20px;
    box-sizing: border-box;
    padding: 1px 12px 1px 12px;
    background-color: #1d9bf0;
    color: #fff;
    border-radius: 9999px;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover{
    background-color:#55acee8a;
    color: #fff;
}

.btn:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -3px 5px 0 0;
    background: url("2021 Twitter logo - white.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
  }

.dekabtn{
    font-size: 160px;
    background-color:#55acee;
    color: #fff;
    padding: 2.5px 25px;
    outline: none;
    border-radius: 200px;
    cursor: pointer;
}

.dekabtn:before {
    content: "";
    display: inline-block;
    width: 180px;
    height: 180px;
    margin: -3px 5px 0 0;
    background: url("2021 Twitter logo - white.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
  }


.setumei{
    margin: auto;
    font-size: 16px;
    width: 900px;
    text-align: left;
    border:10px double;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.soundmessage{
    position: relative;
    top: -53px;
    left: 200px;
    font-size: 15px;
    text-align: center;
}

.countdown{
    color: #fff;
    font-size: 100px;
}

.resultTXT{
    color: #fff;
    font-size: 18px;
}

.whiteletter{
    color: #fff;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
	background-color: #FFFDE7;
	background-size: 80px 80px;
	background-image:
	 linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
	 linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);
  }
   
  .headertitle {
    margin-right: auto;
  }
   
  .menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
  }